<body style="margin-top: 20px; background-color: FloralWhite; text-align: center;""  >

<h2>
  Update Profile
</h2>
<%= render 'form' %>
<%= link_to 'Back', professor_path(@professor) %><br>
<td><%= link_to 'Delete Profile', professor_path(@professor),
              :confirm => "Are you sure?", :method => :delete %></td>
<p style="margin-bottom: 15px">
</p>
</body>
