<body style="margin-left: 15px; margin-top: 20px; background-color: FloralWhite; text-align: center;"" >

<h2>
  Create a Mentor Profile
</h2>

<%= render 'form' %>

<%= link_to 'Back', welcome_index_path %>

<p style="margin-bottom: 15px">
</p>
</body>
